<html>
  <head>
    <title>Pinger | The First Screen</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/waves.min.css">
    <link rel="stylesheet" href="public/css/style.css" media="all">

    <!-- Google Web Fonts -->
    <!-- Montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>


    <div class="center-box" id="center-box">
      <div id="login-area" class="login-area shadow"></div>
    </div>




    <!-- Javascript Includes -->
    <script src="public/js/jquery.js"></script>
    <script src="public/js/underscore.js"></script>
    <script src="public/js/backbone.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/waves.min.js"></script>
    <script src="public/js/socket.io.js"></script>

    <script type="text/template" id="login-template">
      <div class="row no-margin">
        <div class="col-md-8 logo-container">
            <h2 class="u-case logo"><%= title %></h2>
            <p class="tag-line"><%= tagline %></p>
        </div>
        <div class="col-md-4 login-container">
          <form class="login-form" method="post" id="login-form">
            <div class="row">
              <div class="col-md-12">
                <input type="text" name="u-name" placeholder="enter username" class="input input-field" required="required"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="email" name="email" class="input input-field" placeholder="enter email address"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="input input-btn shadow" value="proceed">Proceed</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" id="chat-template">
      <div class="row no-margin">
        <div class="col-md-8 ">
            <div class="row chat-msg-section">
              <div class="col-md-12">
                <h4 class="chat-msg-title" id="current-msg-rec">Please select a user to start the chat</h4>
              </div>
            </div>
            <div class="row msg-area">
              <div class="col-md-12 no-padding">
                <ul class="message-list"></ul>
              </div>
            </div>
            <form id="chat-msg">
              <div class="row chat-type-area">
                <div class="col-md-8 no-padding">
                  <textarea name="chat-text" id="chat-type-text" class="chat-textbox" placeholder="enter message" disabled="disabled"></textarea>
                </div>
                <div class="col-md-4 no-padding">
                    <button type="submit" class="send-btn waves-effect">Send</button>
                </div>
              </div>
            </form>
        </div>

        <div class="col-md-4">
          <div class="row  chat-user-list">
            <div class="col-md-12">
              <h4 class="chat-msg-title">Online Users</h4>
            </div>
          </div>
          <div class="row user-list-area">
            <div class="col-md-12 no-padding">
              <ul>

              </ul>
            </div>
          </div>
          <div class="row list-action-area">
            <div class="col-md-12 no-padding" >
              <button class="exit-btn waves-effect">Leave Pinger</button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="client/index.js"></script>
    <script src="client/chat.js"></script>
    <script src="client/app.js"></script>

    <script>
      $(document).ready(function(){
        Waves.attach('.button', ['waves-button', 'waves-float']);
        Waves.init();

        $('body').on('click', '.user-list-area ul li', function(){
          var name = $(this).data('name');
          var id = $(this).data('id');
          console.log(name);
          $(this).find('span').hide();
          $('#current-msg-rec').text(name);
          $('#current-msg-rec').data('name', name);
          $('#current-msg-rec').data('id', id);
          $('#chat-type-text').attr('disabled', false);
        });

      });


    </script>

  </body>
</html>
